@using PustokHomework.ViewModels;
@model List<BasketItemViewModel>;

@foreach (var item in Model)
{
    <div class=" single-cart-block ">
        <div class="cart-product">
            <a href="product-details.html" class="image">
                <img src="~/image/products/@item.Poster" alt="">
            </a>
            <div class="content">
                <h3 class="title">
                    <a href="product-details.html">
                        @item.Name  <br /> @item.Code
                    </a>
                </h3>
                <p class="price"><span class="qty">@item.Count ×</span> £@item.Price</p>
                <button class="cross-btn"><i class="fas fa-times"></i></button>
            </div>
        </div>
    </div>
}

<div class=" single-cart-block ">
    <div class="btn-block">
        <a href="cart.html" class="btn">
            View Cart <i class="fas fa-chevron-right"></i>
        </a>
        <a href="checkout.html" class="btn btn--primary">
            Check Out <i class="fas fa-chevron-right"></i>
        </a>
    </div>
</div>